.bkgdpic {
    z-index: -1;
    width: 100%;
    position: fixed;
    filter: blur(8px);
    margin-top: -130px;
}

header {
    background-color: black;
    color: white;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    height: 60px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.nav-item {
    margin: 10px;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(126, 48, 12);
}

.MainBox {
    border: 1px solid rgba(110, 110, 110, 0.363);
    border-radius: 5px;
    height: 350px;
    width: 477.5px;
    display: flex;
    flex-direction: column;
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-top: 235px;
    background-color: rgba(126, 48, 12, 0.466);
}

.MBSignIn {
    padding-left: 20px;
}

.email {
    padding-left: 20px;
}

.emailword {
    margin-bottom: 0px;
}

.inputs {
    width: 430px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgba(110, 110, 110, 0.363);
}

.passwordtext {
    margin-top: 35px;
    margin-bottom: -35px;
}

.forgotpassword {
    margin-left: 325px;
    text-decoration: dashed;
    color: rgb(0, 0, 0);
}

.password {
    padding-left: 20px;
}

.continue {
    margin-top: 40px;
    width: 438px;
    height: 35px;
    background-color: rgb(126, 48, 12);
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid rgba(110, 110, 110, 0.363);
}

.socials:hover {
    color: rgb(126, 48, 12);
}

footer {
    margin-top: 150px;
    background-color: black;
    color: white;
}

.FIname {
    text-align: center;
    margin-left: 15px;
    padding-top: 150px;
}

.FIBox {
    display: flex;
    flex-direction: row;
    margin-left: 25%;
    padding: 50px;
}

.FIImage {
    height: 250px;
    border-radius: 5%;
    margin-right: 15px;
}

.FITable {
    margin-left: 10px;
}

.tablecontent {
    margin-right: 15px;
    padding: 10px;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1); 
}